/* CSS Vars */
:root {
  --border-darkest: #061D34;
  --border-dark: #1F364D;
  --border-dark: #395067;
  --border-light: #6C839A;
  --border-lighter: #859CB3;
  --border-lightest: #9FB6CD;
}


/* Fonts - TY Joel Carrouche for the excellent Norse font */
@font-face {
  font-family: 'norse';
  src: url('./fonts/norsebold-2kge-webfont.woff2') format('woff2'),
       url('./fonts/norsebold-2kge-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'norse';
  src: url('./fonts/norse-kawl-webfont.woff2') format('woff2'),
       url('./fonts/norse-kawl-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/* Background Image */
html::before {
  content: "";
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgb(32,43,56);
  background: radial-gradient(circle, rgba(57,80,103,1) 0%, rgba(32,43,56,1) 75%);
  z-index: -2;
}
html::after {
  content: "";
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-image: url('./images/branches_foreground.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}


/* Typography */
.font-norse {
  font-family: 'norse', 'IM Fell English SC', serif;
}
.font-script {
  font-family: 'IM Fell English SC', serif;
}

h1 {
  font-family: 'norse', 'IM Fell English SC', serif;
}
h2, h3, h4, h5 {
  font-family: 'IM Fell English SC', serif;
}


/*  Splash Section */
.splash {
  padding-top: 1rem;
  text-align: center;
  margin-bottom: 4rem;
}
.splash h1 {
  font-size: 10rem;
  line-height: 8rem;
  letter-spacing: 1rem;
  margin-bottom: 0;
}
.splash h2 {
  font-size: 2rem;
  text-transform:uppercase;
  letter-spacing: 1rem;
}
.splash p {
  font-size: 1.6rem;
  font-family: 'norse','IM Fell English SC', serif;
  letter-spacing: 0.1rem;
}


/* Server Info */
.server-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.server-info ul {
  list-style: none;
  margin-left: 0;
}
.server-info ul li {
  margin-bottom: 0.5rem;
}
.server-ip {
  display: flex;
  cursor: pointer;
}
.server-ip-label {
  margin-right: 1rem;
}


/*  Server Progression */
.server-progression {
  margin-top: 1.5rem;
}
.progression-boss-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 0;
  padding-top: 0.5rem;
}
.progression-boss-list-item {
  padding: 0.4rem;
  margin: 0.5rem 1rem;
  border: 1px solid var(--border-dark);
  border-radius: 12px;
  transition: 0.2s;
}
.progression-boss-list-item:hover {
  border: 1px solid var(--border-light);
  background-color: #1F364D;
}


/* Boss Icons */
.boss-icon {
  display: block;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
}

.boss-eikthyr {
  background-image: url('./images/eikthyr_trophy.webp');
}
.boss-eikthyr.boss-defeated {
  background-image: url('./images/eikthyr_trophy_defeated.webp');
}

.boss-elder {
  background-image: url('./images/the_elder_trophy.webp');
}
.boss-elder.boss-defeated {
  background-image: url('./images/the_elder_trophy_defeated.webp');
}

.boss-bonemass {
  background-image: url('./images/bonemass_trophy.webp');
}
.boss-bonemass.boss-defeated {
  background-image: url('./images/bonemass_trophy_defeated.webp');
}

.boss-moder {
  background-image: url('./images/moder_trophy.webp');
}
.boss-moder.boss-defeated {
  background-image: url('./images/moder_trophy_defeated.webp');
}

.boss-yagluth {
  background-image: url('./images/yagluth_trophy.webp');
}
.boss-yagluth.boss-defeated {
  background-image: url('./images/yagluth_trophy_defeated.webp');
}

/* Copy Icon */
.icon-copy {
  transition: 0.15s;
}
.server-ip:hover {
  color: var(--border-lighter);
}

.server-population {
  margin-top: 1.5rem;
}

/* About Server */
.about-server {
  margin-bottom: 4rem;
}


/* About Site */
.about-site {
  margin-bottom: 4rem;
}